body {
    background-image: url(Visual/background.png);
    background-attachment: fixed;
    background-size: cover;
}

.containertitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px
}

.title {
    color: burlywood;
    font-family: monospace;
}

.titleimage {
    width: 130px;
}

.space {
    font-size: x-large;
    color: darkkhaki;
}

p {
    font-size: large;
    color: wheat;
}

.image {
    width: 200px;
}

img {
    border: 5px solid gold;
}

#container {
    display: flex;
    gap: 250px;
    margin-top: 3%;
}

.parag1 {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgba(127, 255, 212, 0.308);
    padding: 10px 10px;
    border-radius: 25px;
    margin-left: 15%;
}

.parag2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 255, 212, 0.308);
    border-radius: 25px;
    padding: 10px 10px;
}

.word {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: brown;
    text-decoration: underline;
}